#about-section {
  width: 100%;
  height: fit-content;
  padding: 70px 0px 0px 0px;
  background-color: #000000;

  & #about-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: fit-content;
    margin: 0px auto;

    & img {
      filter: invert(100%);
      width: 1.2rem;
      cursor: pointer;
    }
  }

  & .about-header {
    font-weight: bold;
    color: rgb(255, 215, 0);
    width: 60%;
    line-height: 80%;
    font-size: 8rem;
    height: fit-content;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebc644;
  }

  & div#about-container {
    position: relative;
    background-color: #ebc644;
    width: 100%;
    height: fit-content;
    margin-top: 400px;
    text-align: start;
    font-size: 20px;
    color: white;
    overflow: clip;
    overflow-y: visible;
    z-index: 3;

    & div#text-about-container {
      padding: 0px 0px 5% 5%;
      height: fit-content;
      width: 60%;
      h1 {
        font-size: 3rem;
        color: black;
      }
      h2 {
        font-size: 1.3rem;
      }
    }

    & svg {
      position: absolute;
      width: 170%;
      top: -80%;
      left: -45%;
      z-index: -1;

      & path {
        fill: #ebc644;
      }
    }

    & p {
      width: 80%;
    }
  }
}

@keyframes gear_animation {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
