#about-section {
  width: 100%;
  height: fit-content;
  padding: 70px 0px 0px 0px;
  background-color: #000000;
  border-bottom: 5px solid white;
  overflow: hidden;

  & #about-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: fit-content;
    margin: 0px auto;

    & img {
      filter: invert(100%);
      width: 1.2rem;
      cursor: pointer;
    }
  }

  & .about-header {
    font-weight: bold;
    color: rgb(255, 215, 0);
    width: 60%;
    line-height: 80%;
    font-size: 8rem;
    height: fit-content;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebc644;
  }

  & div#about-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #ebc644;
    width: 100%;
    height: fit-content;
    text-align: start;
    font-size: 20px;
    color: white;
    overflow: clip;
    overflow-y: visible;
    z-index: 0;
    padding: 0px 5% 0% 5%;
    background-color: black;

    // & div#text-about-container {
    //   height: fit-content;
    //   width: 60%;
    //   margin-top: 300px;
    //   background-color: transparent;
    //   border-radius: 50% 50% 0% 0%;
    // }

    h1 {
      font-size: 3rem;
      color: black;
    }
    h2 {
      font-size: 1.3rem;
    }

    & p {
      width: 80%;
      height: fit-content;
    }
  }
}

#text-about-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  rotate: 180deg;
  overflow: hidden;
  line-height: 0;
}

#text-about-container svg {
  position: relative;
  display: block;
  width: calc(174% + 1.3px);
  height: 198px;
  transform: rotateY(180deg);
}

#text-about-container .shape-fill {
  fill: #ffffff;
}
