section#projects-section {
  padding-top: 20rem;
  overflow: hidden;
  position: relative;
  border-top: 10px solid #ebc934;

  .tree-root1{
    position: absolute;
    rotate: -100deg;
    top: -38rem;
    right: -28rem;
    width: 40rem;
    /*
    position: absolute;
    rotate: -100deg;
    top: -17rem;
    right: -15rem;
    width: 40rem;
    */
  }

  .tree-root2{
    position: absolute;
    rotate: 100deg;
    top: -38rem;
    left: -28rem;
    width: 40rem;
  }


  & #projects-container {
    $width: 90%;
    width: $width;
    height: fit-content;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .image-container {
      $size: 34rem;
      width: $size;
      height: $size / 2;
      border: 2px solid black;
      margin: 20px;
      cursor: pointer;
      margin-bottom: 6rem;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
